<div class="row">
  <div class="span6 offset1 well">
    <%= render :partial => 'task_info' %>
  </div>

  <div class="span3 well">
    <%= render :partial => 'manage_table' %>
  </div>
</div>

<div class="row">
  <div id="solutions" class="span10 offset1">
    <%= will_paginate @solutions %>
    <%= form_tag @labeltask, :method => 'get' do %>
      <%= submit_tag("Turn to page", :class => 'btn') %>
      <%= number_field_tag 'page', nil, :style => 'width: 60px; margin-top: 9px' %>
    <% end %>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="span<%= @labeljob.word_label? ? 5:8%>">Content</th>
          <% if @labeltask.editable?(current_user) %>
            <th <%= "class='span3'" if @labeljob.word_label? %> style='text-align: center'>Actions</th>
          <% end %>
          <% if @labeljob.word_label? or @labeljob.finished or !@labeltask.editable?(current_user) %>
            <th class='span2' style='text-align: center'>Solution</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%= render @unfinished_solution %>
        <%= render @finished_solution %>
      </tbody>
    </table>
    <%= will_paginate @solutions %>
  </div>

</div>
<div class="span3 offset1 well">
  <%= render :partial => 'manage_table' %>
</div>

