<div class="row">
  <div class="span6 offset1 well">
    <%= render :partial => 'task_info' %>
  </div>

  <div class="span3 well">
    <%= render :partial => 'manage_table' %>
  </div>
</div>

<div class="row">
  <div id="solutions" class="span10 offset1">
    <%= will_paginate @solutions %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="span<%= @labeljob.word_label? ? 6:8%>">Content</th>
          <% if @labeltask.editable?(current_user) %>
            <th <%= "class='span2'" if @labeljob.word_label? %> style='text-align: center'>Actions</th>
          <% end %>
          <% if @labeljob.word_label? or @labeljob.finished or !@labeltask.editable?(current_user) %>
            <th class='span2' style='text-align: center'>Solution</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%= render @unfinished_solution %>
        <%= render @finished_solution %>
      </tbody>
    </table>
    <%= will_paginate @solutions %>
  </div>

  <div class="span3 offset1 well">
    <%= render :partial => 'manage_table' %>
  </div>
</div>

