<% if @labeljob.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@labeljob.errors.count, "error") %> prohibited this labeljob from being saved:</h2>
    <ul>
      <% @labeljob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @labeljob, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Label Job</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field span6', :placeholder => '输入此次LabelJob的名称' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :desc, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :desc, :class => 'text_area span6', :style => "height: 130px", :placeholder => '输入Job任务的详细描述与要求，您选择的Labeller们将会看到这些内容' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :deadline, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :deadline, :class => 'date_select span6',  :default => 7.days.from_now  %>
      </div>
    </div>

    <% if params[:action] == "new" or params[:action] == "create"  %>
      <div class="control-group">
        <div class="controls">
          <p class="well">class label: 输入用来标注的选项，形如“A|B|C”、“好|不好”</p>
          <p class="well">word label : 当需要标注word时，请留空此项
            <div class="control-group">
              <%= f.label :filter, :class => 'control-label' %>
              <div class="controls">
                <%= f.file_field :filter %>
              </div>
            </div>
          </p>
        </div>

        <%= f.label :labels, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :labels, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :rawdata, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :rawdata %>
        </div>
      </div>

      <div class="control-group labellers">
        <label class="control-label">Labellers</label>
        <div class="controls">
          <% for u in User.order("email") %>
            <div class="checkbox" style="margin: 15px">
              <%= check_box_tag "labeljob[user_ids][]", u.id, @labeljob.users.include?(u) %>
              <%= u.email %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :id => "create", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', labeljobs_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
