<h1 style="margin-bottom: 20px">Label Jobs</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="span3">Name</th>
      <th class="span3">Task Status:</th>
      <th class="span3">Deadline</th>
      <th class="span3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @labeljobs.each do |labeljob| %>
      <tr>
        <td><%= link_to labeljob.name, labeljob_path(labeljob) %></td>
        <td>
          <b>Approve:</b>
          <span class="label label-success"><%= labeljob.labeltasks.where(:status => "approve").count %></span>
          <b>,Submit:</b>
          <span class="label label-important"><%= labeljob.labeltasks.where(:status => "submit").count %></span>
          <b>,All:</b>
          <span class="label label-info"><%= labeljob.labeltasks.count %></span>
        </td>
        <td>
          <%= labeljob.deadline %>
        </td>
        <td>
          <%= link_to 'Edit', edit_labeljob_path(labeljob), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', labeljob_path(labeljob), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
