<h1>Labeljob Name:
    <%= @labeljob.name %>
</h1>


<p>
  <b>Created by</b><br>
  <%= @author.email %>
</p>

<p>
  <b>Desc</b><br>
  <%= @labeljob.desc %>
</p>

<p>
  <b>Deadline</b><br>
  <%= @labeljob.deadline %>
</p>

<p>
  <b>Labels</b><br>
  <% @labeljob.labels.split('|').each do |label| %>
    <%= label  %>
  <% end %>
</p>

<p>
  <b><%= link_to "Downloads the raw data", @labeljob.rawdata.url %>
  </b><br>
</p>


<div class="form-actions">
  <% if @labeljob.approved? ==false %>
    <% if current_user.id == @author.id  %>
      <%= link_to 'Approve', approve_labeljob_path(@labeljob), :class => 'btn btn-success' %>
    <% end %>
    <%= link_to 'Edit', edit_labeljob_path(@labeljob), :class => 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Delete', labeljob_path(@labeljob), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
   <%= link_to 'Back', labeljobs_path, :class => 'btn'  %>
</div>

<h2>Tasks</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>User id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @labeltasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, labeltask_path(task) %></td>
        <% if task.status == 1 %>
        <td>Unfinished</td>
        <% else %>
        <td>Finished</td>
        <% end %>
        <td><%= user_email(task.user_id) %></td>
        <td>
          <% if task.status == 1 %>
            <%= link_to 'Finish', finish_labeltask_path(task), :class => 'btn btn-mini' %>
          <% else %>
            <%= link_to 'Unfinish', unfinish_labeltask_path(task), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>