<h1>Labeljob Name:
    <%= @labeljob.name %>
</h1>

<p style="margin-top: 20px">
  <b>Created by</b><br>
  <%= @author.email %>
</p>

<p>
  <b>Desc</b><br>
  <%= @labeljob.desc %>
</p>

<p>
  <b>Deadline</b><br>
  <%= @labeljob.deadline %>
</p>

<p>
  <b>Labels</b><br>
  <% @labeljob.labels.split('|').each do |label| %>
    <%= label %> ; 
  <% end %>
</p>

<p>
  <b>Downloads the <%= link_to "raw data", @labeljob.rawdata.url %></b><br>
</p>

<p>
  <b>Approve/Submit/ALL:</b>  
  <span class="label label-success"><%= @approve_count %></span>/
  <span class="label label-important"><%= @submit_count %></span>/
  <span class="label label-info"><%= @labeltasks.count %></span>
  <br>
  <% if @approve_count == @labeltasks.count %>
    All task have been approved, You can <%= link_to 'Finish', finish_labeljob_path(@labeljob), :class => 'btn btn-mini btn-success'  , :confirm => 'Are you sure? You can\'t reopen this job after click'%> this job now
  <% end %>
</p>

<div class="form-actions">
  <% if current_user.id == @author.id  %>
    <%= link_to 'Edit', edit_labeljob_path(@labeljob), :class => 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Delete', labeljob_path(@labeljob), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
   <%= link_to 'Back', labeljobs_path, :class => 'btn'  %>
</div>

<h2>Tasks</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Labeller</th>
      <th>Status</th>
      <th>Finished Items/All Items</th>
    </tr>
  </thead>
  <tbody>
    <% @labeltasks.each do |task| %>
      <tr>
        <td><%= link_to user_email(task.user_id), labeltask_path(task) %></td>
        <td><%= status_label task.status %></td>
        <td>
          <span class="label label-success"><%= task.solutions.where("label!='unknow'").count %></span>/
          <span class="label label-info"><%= task.solutions.count %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>