<h1>Labeljob Name:
    <%= @labeljob.name %>
</h1>

<p>
  <b>Desc</b><br>
  <%= @labeljob.desc %>
</p>

<p>
  <b>Deadline</b><br>
  <%= @labeljob.deadline %>
</p>

<p>
  <b>Labels</b><br>
  <% @labeljob.labels.split('|').each do |label| %>
    <%= label  %>
  <% end %>
</p>

<p>
  <b><%= link_to "Downloads the raw data", @labeljob.rawdata.url %>
  </b><br>
</p>

<div class="form-actions">
  <%= link_to 'Back', labeljobs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_labeljob_path(@labeljob), :class => 'btn' %>
  <%= link_to 'Delete', labeljob_path(@labeljob), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
