<h2>Tasks</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>Status</th>
      <th>Initiated by</th>
    </tr>
  </thead>
  <tbody>
    <% @labeltasks.each do |task| %>
      <tr>
        <% job = Labeljob.find(task.labeljob_id) %>
        <td><%= link_to job.name, labeltask_path(task) %></td>
        <td><%= status_label task.status %></td>
        <td><%= user_email(job.user_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Approved Tasks</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>Status</th>
      <th>Initiated by</th>
    </tr>
  </thead>
  <tbody>
    <% @approve_tasks.each do |task| %>
      <tr>
        <% job = Labeljob.find(task.labeljob_id) %>
        <td><%= link_to job.name, labeltask_path(task) %></td>
        <td><%= status_label task.status %></td>
        <td><%= user_email(job.user_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>