<tr>
  <td id="text<%= solution.line_number %>" class="rawdata"><%= solution.rawdata %></td>
  <% if @labeltask.editable?(current_user) %>
    <% if @labeljob.classic? %>
      <td style='text-align: center' id="<%= solution.line_number %>" <% if @labeljob.labels.length < 25 %>class="btn-group"<% end %>>
        <% @labels.each do |w| %>
          <%= link_to w, label_labeltask_solution_path(@labeltask ,solution, :label => w),:remote => true, :class => "#{w} btn btn-large #{'btn-success' if solution.label == w }", :style => 'margin-top: 2px' %>
        <% end %>
      </td>
    <% else %>
      <td style='text-align: center' >
        <%= link_to (solution.has_solution? ? 'undo':'label'), word_label_labeltask_solution_path(@labeltask ,solution, :label => "unknown"), :remote => true, :id => "button" + solution.line_number.to_s, :class => "label_word btn btn-large #{(solution.has_solution? ? 'btn-warning':'')}" %>
      </td>
    <% end %>
  <% end %>
  <% if @labeljob.word_label? or @labeljob.finished or !@labeltask.editable?(current_user) %>
    <td style='text-align: center' id="label<%= solution.line_number %>" class='label_solution'>
      <% if solution.has_solution? %>
        <span class="label label-success">
          <%= solution.label %>
        </span>
      <% else %>
        <span class="label">
          unknown
        </span>
      <% end %>
    </td>
  <% end %>
</tr>
