<tr>
  <td id="text<%= solution.line_number %>" class="span6"><%= solution.rawdata %></td>
  <% if @labeltask.editable?(current_user) %>
    <% if @labeljob.classic? %>
      <td id="<%= solution.line_number %>" class="span4">
        <% @labels.each do |w| %>
          <%= link_to w, label_labeltask_solution_path(@labeltask ,solution, :label => w),:remote => true, :class => "#{w} btn-inverse btn btn-large #{'disabled' if solution.label == w }" %>
        <% end %>
      </td>
    <% else %>
      <td class="span4">
        <%= link_to 'label', label_labeltask_solution_path(@labeltask ,solution, :label => "unknow"), :remote => true, :id => "label" + solution.line_number.to_s, :class => "label_word btn btn-large" %>
      </td>
    <% end %>
  <% end %>
  <td id="label<%= solution.line_number %>" class="span1">
    <% if solution.has_solution? %>
      <span class="label label-success">
        <%= solution.label %>
      </span>
    <% else %>
      <span class="label">
        Unknow
      </span>
    <% end %>
  </td>
</tr>